@charset "UTF8";

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: lightgrey;
    text-align: justify;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-width: 280px;
    max-width: 1680px;
   
}

header {
    background-color: #3A3962;
    display: flex; 
    position: relative; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: white;
    padding: 30px;  
    margin:80px; 
    margin-top: 0px;
    width: 100%; 
    height: 100%;
   

}

 #logo {
    position: relative;
    text-align: left; 
    margin-right: auto;
    margin-left: 80px;
     
}

    h1 {
        position: absolute;
        bottom: 5%;
        text-align: left;
        margin-left: 80px; 
        
    }

 
    


nav > a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    text-align: right;
    float: right;
    font-size: 17px;
    right: 20px; 
   
}



div.inicio > iframe {
    background-color: #3A3962;
    border-color: black;
    display: flex; 
    /* right: 10px;
    left: 10px;  */
    width: 60%;
    height: 500px; 
    padding: 10px;
    margin: auto; 
    margin-top: -10px;
    margin-bottom: 20px; 
    margin-left: 400px; 
    margin-right: 5px;
     
}

main {
    background-color: #cfe2f3;  
    padding: 10px;  
    margin: 80px;
    width: 100%;  
}

main .dsk {
    color: #3A3962; 
    text-align: center; 
    left: 40%; /*gambiarra para alinhar o H1*/
    bottom: -20px; /*gambiarra para deixar o h1 "Nossos destaques na posição desejada*/
    
}
  .pdts {
   background-color: #3A3962; 
   display: flex; 
   position: relative; 
   justify-content: center;
   width: 300px;
   height: 300px;
   align-items: center;
   border-radius: 50%;
   overflow: cover;
}




.destaques {
    display: flex; 
    position: relative;
    justify-content: center;
    padding: 1px; 
    margin: 1px;
    width: 100%;
    height: 70%;
    
    
} 

 .pdts {
   flex: 150%;
   padding: 10px;
   right: 45px;
}     
