@charset "UTF8";

body {
    background-color: lightgrey;
    text-align: justify;
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #3A3962;
    display: flex;
    position: relative;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: white;
    padding: 20px; 
    margin:auto;
    width: 100%;
   

}

 #logo {
    position: relative;
    text-align: left; 
    margin-right: auto;
    margin-left: 100px;
    
    
}

    h1 {
        position: absolute;
        bottom: 5%;
        text-align: left;
        margin-left: 100px; 
        
    }

 
    


nav > a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    text-align: right;
    float: right;
    font-size: 17px;
    right: 20px; 
   
}



div.inicio > iframe {
    background-color: #3A3962;
    border-color: black;
    display: flex; 
    right: 10px;
    left: 40px; 
    width: 80%;
    height: 500px; 
    padding: 10px;
    margin: auto; 
    margin-top: 2px;
    margin-bottom: 10px; 
     
}

main {
    background-color: black;  
    /* padding: 50px; */
    /* width: 100%;  */
}

main .dsk {
    color: #3A3962; 
    text-align: center; 
    left: 40%;  
    
}
  .one {
   background-color: lightblue; 
   display: flex;
   justify-content: center;
   width: 300px;
   height: 300px;
   align-items: center;
   border-radius: 50%;
   overflow: cover;
}

.one img {
    max-width: 100%;
    max-height: 100%;
}

.two {
    background-color: lightblue; 
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 50%;
    overflow: cover;
 }

 .two img {
    max-width: 100%;
    max-height: 100%;
}

.three {
    background-color: lightblue; 
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 50%;
    overflow: cover;
 }

 .three img {
    max-width: 100%;
    max-height: 100%;
}

.four {
    background-color: lightblue; 
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 50%;
    overflow: cover;
 }

 .four img {
    max-width: 100%;
    max-height: 100%;
}