@charset "UTF8";

* {
    margin: 0;
    padding: 0;

}


body {
    background-color: white;
    text-align: justify;
    font-weight: normal;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

header {
     background-color: #3A3962;
     color: #FFFFFF;
     width: calc(100% - 60px);
     height: 90px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 30px;
}

    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        list-style-type: none;
        color: white;
      }
      
      li {
        float: right;
        
       
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        margin-right: 10px;
        text-decoration: none;
      }
      
div.inicio > iframe {
    background-color: #3A3962;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 680px;
    padding: 5px;
    position: relative;
}

.destaques {
    background-color: #FFFFFF;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    line-height: 46px;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 390px; 
}

 .Nossos-Destaques {
    color: #3A3962;
    width: 301px;
    height: 45px;
    margin: 0 auto;   
}

.destaques .produtos {
    gap: 10px;
    margin: 60px auto;
    align-items: center;
    
}

.destaques .produtos li {
    background-color: #d9d9d9;
    color:#3A3962;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 90%;
}

.destaques .produtos li label,
.destaques .produtos li img {
    display: block;
    
}

.destaques .produtos li img {
    width: calc(100% - 80px);
    max-width: 250px;
    
    
}

.tds {
    display: flex; 
    justify-content:center;
    align-items:center;
    width: 25%;
    height: 15%; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

button  {
    background-color:#3A3962;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: normal;
    font-size: 35px;
    width: 300px;
    height: 80px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(17, 17, 107, 0.808);
}

.emp1 {
    background-color: #3a39623b;
    width: 100%;
    height: auto;
    display:flex;
    gap: 25px;
    flex-direction: row;
    align-items: center; 
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0px;
    
}

.emp1 > .text {
    color: #3A3962;
    width: 359px;
    height: 297px;
    text-indent: 50px;
    text-align: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 135px;
    margin-right: 160px;
    padding: 5px;
}

.text > h2 {
    color: #3A3962;
    font-weight: bold;
    font-size: 2.5em; 
    text-align: center; 
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
}

.Costa_Navarro  {
    width: 670px;
    height: 514px;
    margin-left: 0px;
    margin-right: 28px;
    object-fit: fill;
   
 }


.emp2 {
    background-color: #3a39623b;
    width: 100%;
    height: 60%;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    position: relative;
    padding-bottom: 20px;

}

.text2 > h2 {
    color: #3A3962;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 2px;

}

.emp2 > .text2 {
    color: #3A3962;
    text-indent: 40px;
    width: 460px;
    height: 325px;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 190px;
    margin-right: 163px;
    
}

.RPC  {
    width: 670px;
    height: 514px;
    object-fit: fill;
   
    
   
 }

footer {
    background-color:#3A3962;
    color: #FFFFFF;
    width: 100%;
    height: auto;
    display:flex;
    align-items: center;
    flex-direction:row;
    justify-content:space-around;    
   
}

footer > p {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 447px;
    padding-right: 175px;
}

footer >.images {
   width: 12%;
   height: 50%;   
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   gap: 10px;
   padding-left: 50px;
   padding-right: 30px;
   margin-right: 9px;  
   margin-left: 8px;
}