@charset "UTF-8";

  

@media screen and (min-width: 1861px){

    .emp1 {
        background-color: #3a39623b;
        width: 100%;
        height: auto;
        display:flex;
        gap: 15px;
        flex-direction: row;
        align-items: center; 
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 0px;   
    }


    .emp1 > .text {
        color: #3A3962;
        width: 40%;
        height: auto;
        text-indent: 50px;
        text-align: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 110px;
        margin-left: 155px;
        margin-right: 0px;
        padding: 5px;
    }

    .Costa_Navarro  {
        width: 90%;
        height: auto;
        margin-left: 400px;
        margin-right: 0px;
        object-fit: fill;       
     }

     .emp2 {
        background-color: #3a39623b;
        width: 100%;
        height: auto;
        display: flex;
        gap: 25px;
        flex-direction: row-reverse;
        position: relative;
        padding-bottom: 5px;
    
    }
    
    .text2 > h2 {
        color: #3A3962;
        font-weight: bold;
        font-size: 2.5em;
        margin-bottom: 2px;
    
    }
    
    .emp2 > .text2 {
        color: #3A3962;
        text-indent: 40px;
        width: 600px;
        height: 325px;
        margin-top: 50px;
        margin-bottom: 150px;
        margin-left: 150px;
        margin-right: 355px;
        
    }
    
    .RPC  {
        width: 90%;
        height: 0 auto;
        margin-right: 30px;
        object-fit: fill;
     }

     img{
        max-width: 100%;
        height: auto;
     }

     /* .yellow{
        display: none;
     }

    .red{
        display: block;
    } */


     
}