@charset "UTF-8";

/* @media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: flex; 
        
    }
}

menu > ul > li {
     display: inline-flex; 
}

main {
    width: 600px;
} */

@media (max-width: 1680px){
    body {
        background-color: black;
        width: 88.1vw;
        height: 100vh;
    }

    header {
        display: block;
        width: 112.3%;
        height: 10%;
    }

    div.inicio > iframe {
        background-color: #3A3962;
        box-sizing: border-box;
        display: flex;
        width: 112.3%;
        height: 680px;
        padding: 5px;
        margin-top: 1px;
        position: relative;
    
    }

    .destaques {
        background-color: red;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        line-height: 25px;
        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around; 
        gap: 30px;
        width: 103.6%;
        height: 65%; 
        padding-right: 80px; 
        padding-left: 50px;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 25px; 
        
        
    }
    
    .destaques::after {
        content: '';
        display: flex;
        width: 100%;
    }

    
.destaques > .pdts {
    background-color: rgba(0, 0, 0, 0.137);
    position: relative;  
    top: 40px;
    left: 190px; 
    width: 150px;
    height: 140px;
    padding: 100px;  
    border-radius: 90%;   

    }

.name {
        color:#3A3962;
        font-size: 1em;
        display: flex;
        flex-direction: row;
        text-align: center;
        position: relative;
        top: 80%; 
        padding-right: 15px; 
        padding-left: 25px;
        margin-top: 20px; 
        margin-bottom: 10px;
        margin-left: 130px;
        margin-right: 38px;
        text-indent: -230px;   

    }
    .tds {
        display: flex; 
        justify-content: space-around;
        width: 90%;
        height: 55%; 
        padding-right: 60px; 
        padding-left: 150px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 25px;
        margin-right: 55px; 
        
    }

    .emp1 > .text {
        display: inline;
        color: #3A3962;
        /* width: 110%; */
        height: 80%;
        border: 1px solid white;
        text-indent: 40px;
        /* text-align: left; */
        /* align-items: left; */
        margin-top: 1px;
        margin-bottom: 45px;
        margin-left: 250px;
        margin-right: -150px;
        padding-left: 5px; 
        padding-top: 5px;
        padding-right: 40px;
    }
    
    .emp1 >.text > h2 {
        border: 1px solid white;
        width: 110%;
        color: #3A3962;
        font-weight: bold;
        font-size: 2.2em; 
        text-align: left; 
        margin-top: 2px;
        margin-bottom: 5px;
        padding-right: 20px;
        
        
    }
    
    .CN  {
        margin-right: 0px;
        margin-left: 350px;
        margin-bottom: 0px;
        padding-top: 1px;
        padding-right: 0px; 
        padding-left: 101px;
     
     }
    
    
    
    #sbcn {
        background-color: #3A3962;
        color: #FFFFFF;
        font-family: Poppins;
        font-weight: normal;
        font-size: 35px;
        width: 200px;
        height: 50px;
        padding: 3px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 30px;
        border: none;
        cursor: pointer;
    }

}