@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: flex; 
        
    }
}

menu > ul > li {
     display: inline-flex; 
}

main {
    width: 600px;
}